<!-- Open Graph / Facebook -->
<meta property="og:title" content="{{ page.title }}">
<meta property="og:description" content="{{ page.description }}">
<meta property="og:image" content="{{ site.url }}/assets/img/shares/posts/{{ page.lang }}/{{ page.name |replace: '.md', '-share.png'}}">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:type" content="article">

<!-- Twitter Card -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:description" content="{{ page.description }}">
<meta name="twitter:image" content="{{ site.url }}/assets/img/shares/posts/{{ page.lang }}/{{ page.name | replace: '.md', '-share.png' }}">

