---
layout: default
---

<article class="prose prose-h1:text-3xl container mx-auto">
    <h1>{{ page.title }}</h1>

    <div class="text-gray-600 -mt-4">
    {% if page.author %}
      <span class="font-bold">{{ site.data[page.lang].post.author }}：</span>
      <span class="italic">{{ page.author }}</span>
    {% endif %}
      <br />
    {% if page.date %}
      <span class="font-bold">{{ site.data[page.lang].post.date }}：</span>
      <span class="italic">{{ page.date | date: site.data[page.lang].post.date_format }}</span>
    {% endif %}
  </div>
  <div>
    {{ content }}
  </div>
</article>
